.card-wrapper {
  background: #ffffff 0 0 no-repeat padding-box;
  box-shadow: 0 3px 20px #00000014;
  padding-bottom: 20px;

  .custom-card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
    border-bottom: 1px solid #eeeeee;
  }

  .custom-card-header-noborder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
  }

  .custom-card-body {
    padding: 1.5rem !important;
  }
}

.breadcrumb-common {
  font-size: 14px;
  align-items: center;
  margin: 10px auto;

  p {
    margin-bottom: 0 !important;
    text-transform: capitalize;
  }

  svg,
  path {
    fill: #707070;
  }

  svg {
    width: 15px;
    height: 15px;
  }
}

.primary-show-100 {
  height: 40px !important;
  background-color: #f9f9f8 !important;
  border-radius: 3px;
  width: 100%;
}

.primary-show-50 {
  min-height: 40px;
  background-color: #f9f9f8 !important;
  border-radius: 3px;
  width: 50%;
}

.primary-show-25 {
  min-height: 40px;
  background-color: #f9f9f8 !important;
  border-radius: 3px;
  width: 25%;
}

.primary-input,
.primary-input .ant-select-selector {
  min-height: 40px;
  background-color: #f9f9f8 !important;
  border-radius: 3px;
  border: 1px solid #efefef !important;
}

.ant-input-password input {
  background-color: transparent !important;
}
.input-field {
  border-radius: 3px;
  background: #f9f9f8 0% 0% no-repeat padding-box;
}

.input-field:focus,
.input-field:active {
  border-color: #196cd4;
}

.input-field:hover {
  border-color: #90b0d7;
}

.ant-select-selector:focus,
.ant-select-selector:active {
  border-color: #196cd4;
}

.ant-select-selector:hover {
  border-color: #90b0d7;
}

.ant-select:hover {
  border-color: #196cd4 !important;
}

.slider-container {
  background: #fcfcfc 0% 0% no-repeat padding-box;
  border: 1px solid #e6e6e6;
  padding: 20px;
  width: 100%;
  overflow: hidden;
  max-width: 80vw;

  .slick-track {
    margin: 0 !important;
  }

  .slick-slide {
    & > div {
      border: 1px solid #e6e6e6;
      margin-right: 10px;
    }
  }

  img {
    width: 100%;
    height: 163px !important;
    object-fit: cover !important;
  }
}

.item-slider-container {
  background: transparent;
  border: none;
  height: 250px;
  padding: 0px;
  width: 100%;
  overflow: hidden;
  max-width: 80vw;

  .slick-dots li button:before {
    font-size: 6px;
    line-height: 13px;
    width: 9px;
    height: 9px;
    opacity: 1;
    color: transparent !important;
    border-radius: 50%;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
  }

  .slick-dots li.slick-active button:before {
    background: #747474 !important;
    border: 1px solid #707070 !important;
  }

  .slick-track {
    margin: 0 !important;
  }

  .slick-slide {
    & > div {
      border: none;
      margin-right: 10px;
    }
  }

  img {
    width: 100%;
    height: 163px !important;
    object-fit: cover !important;
  }
}

.common-Img-Styling {
  width: 178px;
  background-size: auto;
  height: 178px;
}

.border-left {
  border-left: 1px solid #ececec;
}
.border-none {
  border: none;
}

.gallery-image-card {
  background: transparent linear-gradient(180deg, #000000 0%, #000000 100%) 0%
    0% no-repeat padding-box;

  .bg-image {
    height: 160px;
    object-fit: cover;
    opacity: 0.5;
  }

  .img-title {
    bottom: 10px;
    left: 16px;
    color: white;
  }

  .media-content--hover_state {
    opacity: 0;
  }

  &:hover {
    .media-content--hover_state {
      opacity: 1;
      transition: 0.3s all;
    }
  }
}

.primary--btn {
  width: 120px;
  height: 40px;
  background: #f5cb5c 0% 0% no-repeat padding-box;
  border-radius: 3px !important;
  font: normal normal normal 16px/23px;
  font-family: "Neusa Next Std", sans-serif;
  color: #ffffff;
  opacity: 1;
}

.primary--btn--outline {
  width: 120px;
  height: 40px;
  // background: #f5cb5c 0% 0% no-repeat padding-box;
  border-radius: 3px !important;
  font: normal normal normal 16px/23px;
  font-family: "Neusa Next Std", sans-serif;
  color: #ffffff;
  opacity: 1;
  border-color: #f5cb5c;
  color: #f5cb5c;
}

button > * {
  cursor: pointer !important;
}

.primary--btn:hover {
  background-color: #f5cb5c !important;
  border-color: #f5cb5c !important;
  color: #ffffff !important;
}

.success--btn {
  width: 120px;
  height: 40px;
  background: #10b140 0% 0% no-repeat padding-box;
  border-radius: 3px !important;
  font: normal normal normal 16px/23px;
  font-family: "Neusa Next Std", sans-serif;
  color: #ffffff;
  opacity: 1;

  &:hover {
    color: #a4b1e6 !important;
  }
}

.secondary--btn {
  width: 77px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e4e4e4;
  border-radius: 23px;
  color: #707070 !important;

  &:hover {
    color: #a4b1e6 !important;
  }
}

.transparent--btn {
  width: 127px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e4e4e4;
  border-radius: 3px !important;
  opacity: 1;

  &:hover {
    color: #f2ebeb;
  }
}

.danger--btn {
  width: 100px;
  height: 40px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 1px solid #e05555 !important;
  border-radius: 3px !important;
  opacity: 1;
  color: #c85353 !important;

  &:hover {
    color: #b72828;
    border: 2px solid #b72828 !important;
  }
}

.warning--btn {
  width: 109px;
  height: 35px;
  /* UI Properties */
  border: 1px solid #eebb2f;
  background: #fff9ec 0% 0% no-repeat padding-box;
  border: 1px solid #f5cb5c;
  border-radius: 4px;
  opacity: 1;
  border-radius: 3px !important;
  opacity: 1;
  &:hover {
    border: 2px solid #f6b810 !important;
  }
}

.btn-height {
  height: 40px;
  border-radius: 3px !important;
}

// Dashboard btns
.chart-btns {
  width: 78px;
  height: 30px;
  border: none;
  color: #105b8e;

  &:hover {
    color: #105b8e !important;
  }
}

.chart-btns > * {
  cursor: pointer !important;
}

.c_b-active {
  background: #248cd2 0% 0% no-repeat padding-box;
  border-radius: 5px !important;
  color: white;

  &:hover {
    color: white !important;
  }
}

.img-primary {
  height: 99px;
  width: 99px;
  object-fit: cover;
  border-radius: 50%;
}

.border-rounded {
  border-radius: 3px !important;
}

.ant-select-selection-search-input {
  height: 40px !important;
}

.ant-select-selection-placeholder {
  margin: auto !important;
}

// --------------
// Bulk print div
// --------------
@media screen {
  .bulk-print-QR {
    display: none;
  }
}

@media print {
  .bulk-print-QR {
    display: flex;
    gap: 40px;
    margin: 20px;
  }
}

.ant-modal-content {
  border-radius: 4px !important;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 20px #00000014;
  border-radius: 4px;
  opacity: 1;
}

.ant-upload-drag {
  margin-top: 0px;
  height: 135px !important;
  border: 1px solid #d9d8df !important;
  border-radius: 3px !important;
}

.ant-upload-drag:hover {
  border-color: #aaa5e7 !important;
}

.ant-upload-drag:active,
.ant-upload-drag:focus {
  border-color: #3b2be7 !important;
}

// ---------------------
// for input type number
// ---------------------

input[type="number"] {
  -moz-appearance: textfield;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

// -------------------
// nav-ProfileDropDown
// -------------------
.nav-ProfileDropDown {
  width: 173px;
  height: 120px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 15px #0000001a;

  .ant-dropdown-menu {
    padding: 0px;
    height: 100%;

    .ant-dropdown-menu-item {
      padding: 0px;

      .profile-btn {
        height: 44px;

        .rounded-profilePic {
          width: 24px;
          height: 24px;
          border: 1px solid var(--unnamed-color-161002);
          background: #ffffff 0% 0% no-repeat padding-box;
          border: 1px solid #161002;
          border-radius: 50%;
        }
      }
    }
  }

  a {
    text-decoration: none;
  }
}

// Profile Image
.profile-image {
  width: 106px;
  height: 106px;
  border-radius: 50%;
  object-fit: cover;
}

// Button Stylings
.custom-lg-btn {
  width: 138px;
  height: 43px;
  border-radius: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.installment-btn {
  width: 180px;
}

.ant-slider-handle::after {
  background-color: #336ef8 !important;
  box-shadow: none !important;
}

.border-radius-set {
  border-radius: 3px;
}

.sticky-bottom {
  position: fixed;
  left: 0;
  bottom: 3vh;
  width: 100%;
  text-align: center;
}

.text-green {
  color: #54d128;
}

.search-input {
  // width: 306px !important;
  height: 40px;
  /* UI Properties */
  background: #f9f9f8 0% 0% no-repeat padding-box;
  border: 1px solid #d8d5cd;
  border-radius: 2px;
  opacity: 1;
}

[dir="rtl"] {
  .back-btn-image {
    transform: rotate(180deg);
  }
}

// -------------------
// Global Search Input
// --------------------
.bar-chart {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: space-evenly;
  height: 150px;
}

.bar-chart .bar {
  width: 0;
  height: 100%;
  transition: width 0.5s;
  background-color: blue;
  margin-right: 5px;
  position: relative;
}

.bar-chart .bar.paid {
  background-color: green;
}

.bar-chart .bar.unpaid {
  background-color: red;
}

.bg-primary {
  background-color: #f5cb5c !important;
}

.labels {
  background-color: transparent;
  position: absolute;
  bottom: 0;
  width: 250px !important;
  text-align: center;
}

#Open_Folder {
  top: 153px;
  left: 322px;
  width: 30px;
  height: 27px;
  /* UI Properties */
  fill: #cfd9e6;
  opacity: 1;
}
.manage-content {
  width: 300px;
  height: 220px;
  /* UI Properties */
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 8px #00000014;
  border: 1px solid #f2f2f2;
  opacity: 1;
  .prime {
    width: 91px;
    height: 39px;
    /* UI Properties */
    text-align: left;
    font: normal normal bold 32px/39px Century Gothic;
    letter-spacing: 0px;
    color: #f5cb5c;
    opacity: 1;
  }
  .level {
    width: 91px;
    height: 24px;
    text-align: left;
    font: normal normal bold 20px/24px Century Gothic;
    letter-spacing: 3.96px;
    color: #242423;
    opacity: 1;
  }
  .list-unstyled li::marker {
    color: #f5cb5c;
  }
}
.list-unstyled li::before {
  content: none;
}
.list-unstyled li::marker {
  color: #f5cb5c !important;
}
.color-icon {
  width: 35px;
  height: 11px;
  background: #f5cb5c 0% 0% no-repeat padding-box;
  opacity: 1;
}
.p-6 {
  padding: 150px !important;
}
.m-6 {
  margin: 150px !important;
}
.my-6 {
  margin-top: 150px;
  margin-bottom: 50px;
}

.payment-card {
  width: 402px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #00000029;
  border-radius: 3px;
  opacity: 1;
}
.triangle-row {
  left: 0;
  bottom: -13px;
  width: 100%;
}

.triangle-down {
  height: 0;
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 13px solid #ffffff;
  width: 100%;
}
.payment-slip {
  width: 333px;
  // height: 236px;
  background: #ffffff 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 6px #8f8f8f29;
  opacity: 1;
  position: relative;
}
.common-bread {
  a {
    text-decoration: none;
  }
}
.font-Barlow {
  font-family: "Barlow";
}
.right-arrow {
  width: 50px;
  height: 50px;
  background-color: #f5cc5c77;
  position: absolute;
  right: 15px;
  top: 42%;
  border-radius: 50%;
  svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.left-arrow {
  width: 50px;
  height: 50px;
  background-color: #f5cc5c77;
  position: absolute;
  left: 15px;
  top: 42%;
  border-radius: 50%;
  z-index: 100;
  svg {
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}
.slick-dots li button:before {
  color: #f6bb44;
  opacity: 0.5;
}
.slick-dots li.slick-active button:before {
  opacity: 1;
  color: #f6bb44;
}

button:disabled {
  cursor: not-allowed !important;
  background-color: #a6a6a6 !important;
}
.box-shadow {
  box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.0901960784);
}
.active-tab {
  color: #f5cb5c;
  font-weight: 700;
}

// CK Editor Styling

.ck .ck-content {
  min-height: 112px;
}
.change-languagebtn-inlayout {
}