.f-10 {
  font-size: 10px;
}
.f-12 {
  font-size: 12px;
}
.f-13 {
  font-size: 13px;
}
.f-14 {
  font-size: 14px;
}
.f-16 {
  font-size: 16px;
}
.f-18 {
  font-size: 18px;
}
.f-20 {
  font-size: 20px;
}
.f-22 {
  font-size: 22px !important;
}
.f-23 {
  font-size: 23px;
}
.f-24 {
  font-size: 24px;
}
.f-35 {
  font-size: 35px;
}
.f-57 {
  font-size: 57px;
}
.f-47 {
  font-size: 47px;
}
.fw-300 {
  font-weight: 300;
}
.fw-400 {
  font-weight: 400;
}
.fw-500 {
  font-weight: 500;
}
.fw-600 {
  font-weight: 600;
}
.fw-700 {
  font-weight: 700;
}
.fw-800 {
  font-weight: 800;
}

.mt-5px {
  margin-top: 5px;
}
.mt-8 {
  margin-top: 8px;
}
.mt-10 {
  margin-top: 10px;
}
.mt-14 {
  margin-top: 14px;
}
.mt-15 {
  margin-top: 15px;
}
.mt-20 {
  margin-top: 20px;
}
.mt-30 {
  margin-top: 30px;
}
.mt-43 {
  margin-top: 43px;
}
.mt-80 {
  margin-top: 80px;
}

.ml-22 {
  margin-left: 22px;
}
.ml-40 {
  margin-left: 40px;
}
.ml-94 {
  margin-left: 94px;
}
.mt-30 {
  margin-top: 30px;
}
.mb-15 {
  margin-bottom: 15px !important;
}
.mb-30 {
  margin-bottom: 30px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.mb-24 {
  margin-bottom: 24px !important;
}
.mb-40 {
  margin-bottom: 40px !important;
}
.mb-35 {
  margin-bottom: 35px !important;
}

.mb-29 {
  margin-bottom: 29px !important;
}
.mr-15 {
  margin-right: 15px;
}
.ml-15 {
  margin-left: 15px;
}
.p-10px {
  padding: 10px;
}
.p-19-17px {
  padding: 19px 17px;
}
.p-4-15px {
  padding: 4px 15px;
}
.p-15-22px {
  padding: 15px 22px;
}
.text-secondary {
  color: #707070 !important;
}
.text-primary {
  color: #011a3a !important;
}

.text-silver-mauve {
  color: #808080 !important ;
}
.text-salmon-boul {
  color: #f17373 !important ;
}
.text-knight-armor {
  color: #5d5d5d !important ;
}
.text-english-forest {
  color: #196cd4 !important ;
}
.text-successes {
  color: #50dc3b !important ;
}

.bg-btn-primary {
  background: #196cd4 !important ;
}

.border-bottom-settings {
  border-bottom: 1px solid #eeeeee;
}
.border-top_ {
  border-top: 1px solid #eeeeee;
}
.border-right-settings {
  border-right: 1px solid #eeeeee;
}

// common width for inputs
.w-275px {
  width: 275px;
}
.btn-border-color {
  border-color: #196cd4 !important;
}

// New Color Schems for Nama Website
.text-sunRays {
  color: #f5cb5c !important ;
}
.text-youngNight {
  color: #242423 !important ;
}

.text-chinzBlack {
  color: #161002 !important;
}

.rect-pill {
  display: inline-block;
  margin:0px 10px;
  width: 44px;
  height: 16px;
  border-radius: 2px;
}

.text-zipUpload 
{
  color: #7E5C0C;
}